<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @plant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
